<%-include("adminHeader.ejs")%>





<div id="page-wrapper" style="margin-top: 20px;">
    <a href="/category-management/add"><div class=" btn btn-success w-10">Add categories</div></a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                

                <h1 class="page-header">Tables</h1>
                <div class=" bg-success text-center" id="message-container" style= "background: rgba(0, 128, 0, 0.719); width: auto; height: 20px; color: black;" ><%=update%></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    


                                    <% categories.forEach(category => { %>
                                        <tr>
                                            <td><%= category.categoryName %></td>
                                            <td><%= category.isListed ? 'Active' : 'Blocked' %></td>
                                            <td>
                                            <a href="/category-management/toggle-list/<%= category._id %>" title="<%= category.isListed ? 'list' : 'unlist' %>" data-toggle="tooltip">
                                                <%= category.isListed ? 'unlist' : 'list' %>
                                            </a>
                                            <a class="edit" href="/adminPanel/edit/<%= category._id %>">Edit</a>
                                            </td>
                                        </tr>
                                            <% }); %>



                                    
                                </tbody>
                            </table>
                        </div>



        <!-- jQuery -->
        <script src="/js/adminJs/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/adminJs/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/adminJs/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="/js/adminJs/dataTables/jquery.dataTables.min.js"></script>
        <script src="/js/adminJs/dataTables/dataTables.bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/adminJs/startmin.js"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });

            function validate() {
      let categoryname= document.getElementById("categoryName");
     
      const errorMessageContainer = document.getElementById("error-message-container");

      let trimmedCategoryname = categoryname.value.trim();
      let expression = /^[A-A-Za-z\-]+$/

      errorMessageContainer.innerText = ""; // Clear previous error messages

      if (trimmedCategoryname === "") {
        errorMessageContainer.innerText = "Please fill the field";
        return false;
      }
      if(!expression.test(trimmedCategoryname)){
        errorMessageContainer.innerText = "Symbols are not allowded";
        return false
      }
        return true
      
    }
    setTimeout(() => {
              document.getElementById('message-container').style.display = 'none';
          }, 3000);
        </script>

    </body>

</html>