<%- include('header.ejs')%>



        <!-- Carousel Added -->
        <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel" style="width: 100%;">
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <img src="/homeimgs/gamebanner1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/homeimgs/xbox wall.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/homeimgs/gamebanner3.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/homeimgs/banner5.webp" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    
        <div class="line"></div>
  <div class="home-container">
    <main class="main-background">
        <!-- Categories -->
       
        <div class="container py-5 " id="category-container">
    <div class="d-flex justify-content-center align-items-center">
        <h2 class="fw-semibold mb-5" style="color: white;">Categories</h2>
    </div>
    <div class="row g-7 justify-content-between">
        <div class=" categories col-sm-12 col-md-6 col-lg-4 order-lg-1">
            <a href="/products/CONSOLES">
                <div class=" text-light d-flex align-items-center justify-content-around  watch">
                    <img style="width: 100%; height: 100%;" src="/homeimgs/banner6.png" alt="">
                </div>
            </a>
        </div>

        <div class=" categories col-sm-12 col-md-6 col-lg-4 order-lg-2">
            <a href="/products/GAMES">
                <div class=" text-light d-flex align-items-center justify-content-around watch">
                    <img style="width: 100%; height: 100%;" src="/homeimgs/games.png" alt="">
                </div>
            </a>
        </div>
    </div>
  
</div>
<div class="line"></div>
        <section class="all-categories">

            <section id="shoes" class="container">

              <div class=" title d-flex justify-content-center align-items-center">
                <h2 class=" title fw-semibold pt-4" style="color: white; position: absolute;"><span style="color: #fb7b24; font-size: 35px;">Latest</span> Products</h2>
                
            </div>
                
                
                  

        <div class="container mt-5">
          <div class="row g-5">
            <% product.forEach((item) => { %>
              
              <div class="col-md-3" style="width: 250px; margin-left: 45px;">
                <div class="card product-card" style="background: #0d0e1b;">
                  <img height="250px" src="<%= item.image[0] %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="product-name"><%= item.productName %></div>
                    <div class="row">
                      <div class="col">
                        <a href="/product-page/<%= item._id %>" class="btn" id="view-btn">View</a>
                      </div>
                      <div class="col">
                        <p style="margin-bottom: 7px; letter-spacing :0.06em;">₹<%= item.price %></p><br>
                        
                        <%if(item.discount&&item.discount!=0){%>
                          <p style="margin-top: -35px;margin-bottom: 3px; font-size: 15px; color: red;"><%= item.discount %>% off</p>

                        <%}%>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            <% }); %>
          </div>
      </div>
      
    </main>       


                  <!-- Featured Section Begin -->


                
            </section>

           
        <!-- Subscribe Section -->
        
    
  </div>
  <div class="line"></div>
    
    <!-- End Main -->

    <%- include('footer.ejs')%>