<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Pro Players</title>

        <!-- Bootstrap Core CSS -->
        <link href="/css/vendors/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/css/vendors/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="/css/vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="/css/vendors/dataTables/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/vendors/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/css/vendors/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style>
            .custom-form {
                max-width: 400px;
                height: 485px;
                margin: auto;
                margin-top: 100px;
                padding-bottom: 50px
            }
            .edit{
                margin-left: 10px;
            }
        </style>







    </head>

    <body>

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Pro Players</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Akshay <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->
            </nav>

            <aside class="sidebar navbar-default" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="adminPanel"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/user-management"><i class="fa fa-table fa-fw"></i> user-management</a>
                        </li>
                       
                        <li>
                            <a href="/order-management"><i class="fa fa-files-o fa-fw"></i> order-management</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Product-Management<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/product-management">Products</a>
                                </li>
                                <li>
                                    <a href="/category-management">Categories</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </aside>
            <!-- /.sidebar -->




       






<div id="page-wrapper" style="margin-top: 20px;">
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tables</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Payement Method</th>
                                        <th>Total Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <% orderDetails.forEach(order=>{%>
                                    <tbody>
                                        <tr>
                                            <td><%=order._id%></td>
                                            <td><%=order.OrderStatus%></td>
                                            <td><%=order.orderDate.toLocaleDateString()%></td>
                                            <td><%=order.paymentMethod%></td>
                                            <td><%=order.totalAmount%></td>
                                            <td>
                                                <form action="/order-management-update/<%= order._id %>" method="post" class="update-status-form">
                                                <select name="order_status" onchange="this.form.submit()">
                                                <option value="Order Placed" <%= order.OrderStatus === 'Order Placed' ? 'selected' : '' %>>Order Placed</option>
                                                <option value="Shipped" <%= order.OrderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                                <option value="Delivered" <%= order.OrderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                                <option value="Returned" <%= order.OrderStatus === 'Returned' ? 'selected' : '' %>>Returned</option>
                                                <option value="Cancelled" <%= order.OrderStatus === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                              </select>
                                            </form>
                                            </td>
                                        </tr>
                                            



                                    
                                </tbody>
                                <%})%>
                                
                            </table>
                        </div>



        <!-- jQuery -->
        <script src="/js/adminJs/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/adminJs/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/adminJs/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="/js/adminJs/dataTables/jquery.dataTables.min.js"></script>
        <script src="/js/adminJs/dataTables/dataTables.bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/adminJs/startmin.js"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });

            function validate() {
      let categoryname= document.getElementById("categoryName");
     
      const errorMessageContainer = document.getElementById("error-message-container");

      let trimmedCategoryname = categoryname.value.trim();
      let expression = /^[A-A-Za-z\-]+$/

      errorMessageContainer.innerText = ""; // Clear previous error messages

      if (trimmedCategoryname === "") {
        errorMessageContainer.innerText = "Please fill the field";
        return false;
      }
      if(!expression.test(trimmedCategoryname)){
        errorMessageContainer.innerText = "Symbols are not allowded";
        return false
      }
        return true
      
    }
        </script>

    </body>

</html>