<%-include("header.ejs")%>




    <div class="container" id="order-container">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">

                                        <div class="inner-circle"></div>
                    </div>
                    </th>
                    <th>Order #</th>
                    <th>Products</th>
                    <th>status</th>
                    <th>Total</th>
                    <th>Created</th>
                    <th></th>
                    <th></th>
                    </tr>
                    </thead>
                    <% if (userOrders.length > 0) { %>
                
                    <% userOrders.forEach(order=>{%>


                        <tbody class="table-body">
                            <tr class="cell-1">
                                <td class="text-center">

                                    <div class="inner-circle"></div>
                </div>
                </td>
                
                <td>
                    <%=order.orderId%>
                </td>
                <td>
                    <% order.items.forEach((item, index)=> { %>
                        --<%= item.product.productName %>
                            <% if (index < order.items.length - 1) { %>
                                <br>
                                <% } %>
                                    <% }); %>
                </td>
                <td>
                    <%=order.OrderStatus%>
                </td>
                <td>₹<%=order.totalAmount%>
                </td>
                <td>
                    <%=order.orderDate.toLocaleDateString()%>
                </td>
                
                <!-- Inside your table row for each order -->
                <td>
                    <% if (order.OrderStatus === 'Shipped' || order.OrderStatus === 'Order Placed') { %>
                        <form action="/orders/<%= order._id %>" method="post" class="cancel-order-form">
                            <button type="submit" class="cancel-order-button">Cancel Order</button>
                        </form>
                    <% }else if (order.OrderStatus === 'Delivered') { %>
                        <form action="/orders-return/<%= order._id %>" method="post" class="cancel-order-form">
                            <button type="submit" class="cancel-order-button">Return Order</button>
                        </form>
                    <% } else if (order.OrderStatus === 'Returned') { %>
                        <span class="text-warning">Order Returned</span>
                    <% } else if (order.OrderStatus === 'Cancelled') { %>
                        <span class="text-danger">Order Cancelled</span>
                    <% } %>
                </td>
                <td>
                   <a class="btn btn-light border-1" href="/order-details/<%=order._id%>">View More</a>
                   
                </td>
                
                

                </tr>
                <%})%>
                <%}else{%>
                    <p class="text-center bg-danger">No orders found.</p>
                    <%}%>

                    </tbody>
                    </table>
            </div>
        </div>
    </div>
    </div>
    </div>



<%-include('footer.ejs')%>