<%-include("adminHeader.ejs")%>



  <form class="form-horizontal mx-auto" style="margin-top: 60px; margin-left: 50px;" method="post" action="/product-management" onsubmit="return validateForm()" enctype="multipart/form-data" id="add-product">
    <fieldset>

      <!-- Form Name -->
      <center>
        <legend>Product Management</legend>
      </center>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="alert alert-info text-center" id="error-message-container" style="color: black;" role="alert"><%=message%></div>
          
          <div class=" bg-success text-center" id="message-container" style= "background: rgba(0, 128, 0, 0.719); width: 630px; height: 20px; color: black;" ><%=updateMess%></div>

        </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
        <div class="col-md-4">
          <input id="product_name" name="productName" placeholder="PRODUCT NAME" class="form-control input-md"
             type="text">

        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
        <div class="col-md-4">
            <select id="product_categorie" name="productCategory" class="form-control">
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>">
                        <%= category.categoryName %>
                    </option>
                <% }); %>
            </select>
        </div>
    </div>
    


      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PUBLISHER</label>
        <div class="col-md-4">
          <input id="publisher_name" name="publisher" placeholder="PUBLISHER" class="form-control input-md"
             type="text">

        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 control-label" for="product_name">SIZE</label>
        <div class="col-md-4">
            <input id="product_size" name="size" placeholder="SIZE" class="form-control input-md" type="number" oninput="convertSize()">
        </div>
        <div class="col-md-1">
            <select name="sizeUnit" id="sizeUnit" class="form-control size" onchange="convertSize()">
                <option value="MB">MB</option>
                <option value="GB">GB</option>
            </select>
        </div>
        <input type="hidden" name="convertedSize" id="convertedSize" value="">
    </div>
    
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="available_quantity">TOTAL QUANTITY</label>
        <div class="col-md-4">
          <input id="toal_quantity" name="totalQuantity" placeholder="TOTAL QUANTITY"
            class="form-control input-md" type="text">

        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
        <div class="col-md-4">
          <textarea class="form-control" id="product_description" name="description"></textarea>
        </div>
      </div>




      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="online_date">RELEASED DATE</label>
        <div class="col-md-4">
          <input id="released_date" name="releasedDate" placeholder="RELEASED DATE" class="form-control input-md" 
            type="date">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="online_date">PRICE</label>
        <div class="col-md-4">
          <input id="product_price" name="price" placeholder="PRICE" class="form-control input-md"
            type="text">

        </div>
      </div>

          <!-- File Button -->
          <!-- Add this to your HTML form -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
      <input id="image_uploader" name="image" class="input-file" type="file" accept=".jpg, .jpeg, .png, .webp">
      <img id="imagePreview" src="#" alt="Preview" style="width: 200px; height: 200px;">
      <button id="cropButton" type="button">Crop Image</button>
       Add hidden input to store cropped image data 
      <input type="hidden" id="croppedImageData" name="croppedImage1" >
  </div>
</div> -->


<div class="form-group">
                    <label class="col-md-4 control-label">Image</label>
                    <input
                    class="input-file"
                      type="file"
                      name="gameImages"
                      id="imageInput"
                      multiple
                    />
                    <img id="imagePreview" style="max-width: 100%" />
                    <div id="errorImage" style="color: red;"></div>

                  </div>

                  




          <!-- File Button -->

          

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton"></label>
            <div class="col-md-4">
              <button id="singlebutton" name="SUBMIT" class="btn btn-primary">SUBMIT</button>
            </div>
          </div>

    </fieldset>
  </form>

  <div id="page-wrapper" style="margin-left: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div style="float: right; margin-top: 45px;">
                <form action="/search-products" method="get">
                <input type="text" name="query" id="">
                <button type="submit">search</button>
              </form>
              </div>
                <h1 class="page-header">Tables</h1>
                
            </div>
           
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12" >
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        <th>productName</th>
                                        <th>productCategory</th>
                                        <th>publisher</th>
                                        <th>size</th>
                                        <th>totalQuantity</th>
                                      
                                        <th>releasedDate</th>
                                        <th>price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(product => { %>
                                        <tr>
                                            <td><%= product.productName %></td>
                                            <td><%= product.productCategory ? product.productCategory.categoryName : 'Uncategorized' %></td>
                                            <td><%= product.publisher %></td>
                                            <td><%= product.size %> GB</td>
                                            <td><%= product.totalQuantity %></td>
                                            <input type="hidden" value="<%= product.releasedDate %>" class="hiddenDate">
                                            <td class="releasedDateCell"></td>
                                            <td><%= product.price %></td>
                                            <td><%= product.isListed ? 'Listed' : 'Unlisted' %></td>

                                            <td class="iconss">
                                              <a class="edit" href="/product-management/toggle-list/<%= product._id %>" title="<%= product.isListed ? 'Unlist' : 'List' %>" data-toggle="tooltip">
                                                <%= product.isListed ? 'Unlist' : 'List' %>
                                            </a>
                                            
                                            
                                                <a href="/product-management/edit/<%= product._id %>" >Edit</a>
                                            </td>
                                            

                                           </tr>
                                            <% }); %>
                                    
                                </tbody>
                                <div class="pagination-container">
                                  <ul class="pagination">
                                      <% for (let i = 1; i <= totalPages; i++) { %>
                                          <li class="<%= currentPage === i ? 'active' : '' %>">
                                              <a href="/product-management?page=<%= i %>"><%= i %></a>
                                          </li>
                                      <% } %>
                                  </ul>
                              </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



  <!-- jQuery -->
  <script src="/js/adminJs/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/adminJs/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/js/adminJs/metisMenu.min.js"></script>

  <!-- DataTables JavaScript -->
  <script src="/js/adminJs/dataTables/jquery.dataTables.min.js"></script>
  <script src="/js/adminJs/dataTables/dataTables.bootstrap.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/js/adminJs/startmin.js"></script>

  <!--Moment JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
    $(document).ready(function () {
      $('#dataTables-example').DataTable({
        responsive: true
      });
    });
  // Function to validate the form
  function validateForm() {
    var productName = document.getElementById('product_name').value.trim();
    var productCategory = document.getElementById('product_categorie').value;
    var publisher = document.getElementById('publisher_name').value.trim();
    var size = document.getElementById('product_size').value.trim();
    var totalQuantity = document.getElementById('toal_quantity').value;
    var description = document.getElementById('product_description').value.trim();
    var releasedDate = document.getElementById('released_date').value;
    var price = document.getElementById('product_price').value;
    var imageUploader = document.getElementById('image_uploader')


    // Clear previous error messages
    document.getElementById('error-message-container').innerHTML = '';

    // Perform your validation checks
      if (productName === '' || productCategory === '' || publisher === '' || size === '' || description === '' || releasedDate === '' || imageUploader === '') {
      displayErrorMessage('Please fill out all fields');
      return false;
    }

    // Check if totalQuantity is a number
    if (isNaN(totalQuantity|| totalQuantity < 0)) {
      displayErrorMessage('Total Quantity must be a non negative number');
      return false;
    }

    // Check if price is a number
    if (isNaN(price || price < 0)) {
      displayErrorMessage('Price must be a non negative number');
      return false;
    }
    if (price < 0){
      displayErrorMessage('Price must be a non negative number');
      return false;
    }
    if (totalQuantity < 0) {
      displayErrorMessage('quantity must be a non negative number');
      return false;
    }
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.webp)$/i;
        if (!allowedExtensions.exec(imageInput.value)) {
          displayErrorMessage("Invalid file type. Please upload a valid image file.");
            return false;
        }
    // If all checks pass, the form is valid
    return true;
  }

  // Function to display error messages
  function displayErrorMessage(message) {
    var errorMessageContainer = document.getElementById('error-message-container');
    var errorMessage = document.createElement('div');
    errorMessage.className = 'alert alert-danger text-center';
    errorMessage.innerHTML = message;
    errorMessageContainer.appendChild(errorMessage);
  }



function convertSize() {
    // Get the input element, size unit element, and the hidden input for converted size
    var inputElement = document.getElementById('product_size');
    var sizeUnitElement = document.getElementById('sizeUnit');
    var convertedSizeElement = document.getElementById('convertedSize');
    
    // Parse the input value as a number
    var sizeValue = parseFloat(inputElement.value);

    // If the input is a valid number
    if (!isNaN(sizeValue)) {
        // Convert the size based on the selected unit
        var convertedSize = sizeUnitElement.value === 'MB' ? sizeValue / 1024 : sizeValue;
        convertedSize = convertedSize.toFixed(2);
        // Update the hidden input value with the converted size
        convertedSizeElement.value = convertedSize;
    }

}
 document.addEventListener("DOMContentLoaded", function () {
    var image = document.getElementById("croppedImage");
    var input = document.getElementById("imageInput");
    var croppedDataInput = document.getElementById("croppedImageData");

    var cropper = new Cropper(image, {
      aspectRatio: 16 / 9, // Set your desired aspect ratio
      viewMode: 1, // Set to 1 to restrict the crop box to the size of the canvas
      crop: function (event) {
        // Update the hidden input with cropped data
        croppedDataInput.value = JSON.stringify(cropper.getData());
        console.log("croppedImageData:", croppedDataInput.value);

      },
    });

    input.addEventListener("change", function (e) {
      var files = e.target.files;
      var reader = new FileReader();

      reader.onload = function () {
        // Set the image source and update the Cropper
        image.src = reader.result;
        cropper.replace(reader.result);
      };

      reader.readAsDataURL(files[0]);
    });
  });


  
  const serverDateElements = document.querySelectorAll('.hiddenDate');

// Loop through each element and update the corresponding .releasedDateCell
serverDateElements.forEach(serverDateElement => {
    const serverDate = serverDateElement.value;
    const formattedDate = moment(serverDate).format('DD-MM-YYYY');
    
    // Find the corresponding .releasedDateCell in the same row
    const releasedDateCell = serverDateElement.closest('tr').querySelector('.releasedDateCell');
    
    // Update the content of the td element with the formatted date
    releasedDateCell.innerText = formattedDate || 'unconvertable';
});

setTimeout(() => {
              document.getElementById('message-container').style.display = 'none';
          }, 3000);


          document.addEventListener('DOMContentLoaded', function () {
  var form = document.getElementById('add-product');

  if (form) {
      form.addEventListener('submit', function (e) {
          e.preventDefault();

          Swal.fire({
                    icon: 'success',
                    title: 'Product Added',
                    text: 'New product has been successfully added.',
                  }).then((result) => {
              if (result.isConfirmed) {
                  // If the user clicks 'Yes', submit the form
                  form.submit();
              }
          });
      });
  }
});
  </script>



</body>

</html>