<%-include('header.ejs')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">

<style>
    
    .image-container {
        max-width: 100%; /* Ensure the container doesn't exceed the modal width */
        text-align: center; /* Center the image within the container */
        margin-bottom: 20px; /* Add margin between images */
    }

    .cropped-image-container img {
        max-width: 100%; /* Ensure the image doesn't exceed the container width */
        height: auto; /* Maintain the aspect ratio of the image */
    }
</style>


<div class="container" id="user-profile">
    <div class="error-message-container bg-success text-center" id="message-container"><%=message%></div>
    <div class="error-message-container bg-danger text-center" id="error-message-container"><%=error%></div>
    <div class="main-body">
    
        <!-- /Breadcrumb -->

        <div class="row gutters-sm d-flex">

            <div class="col-md-4 col-md-3 col-lg-4 ">
                <div class="card">
                    <div class="card-body-user-profile">
                        <div class="d-flex flex-column align-items-center text-center">
                            <% if(user.image=="user.png"){%>
                                <i class="fa fa-user fa-6x" aria-hidden="true"></i>
                                <%} else{%>
                                <img style="width: 200px; height: 200px;" src="<%=user.image%>" alt="Profile" class="rounded-circle" width="150" />
                            <%}%>
                                
                            <div class="mt-3">
                                <h4><%=user.name%></h4>
                                
                            </div>
                            <div class="mt-2">
                                Referral Code : <%=user.referralCode?user.referralCode:"No Code Available"%>
                                <p style="font-size: 15px;">Invite friends using referral code to get 100rs</p>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                <a class="btn" id="add-address" href="/add-address">Add Address</a>
                <% user.address.forEach((User,index)=>{%>

                
                <div class="card mt-3 address-card" data-index="<%= index %>">
                    <p class="text-center text-light address-title">Address <%=index+1%></p>
                    <div class="card-body-user-profile p-2 ">
                        <p><%=User.houseName%>,<%=User.street%>, <%=User.city%>, <%=User.pincode%>,<%=User.state%>, <%=User.mobile%></p>
                        <div class="d-flex justify-content-between">
                        <form action="/user-edit-address" method="post">
                            <input type="hidden" name="addressIndex" value="<%= index %>">
                            <button type="submit" id="edit-btn">Edit</button>
                        </form>
                        
                            <input type="hidden" name="addressIndex" value="<%= User._id %>">
                            <button name="deleteBtn" type="button" class="delete-btn" data-address-index="<%= index %>" id="delete-btn">Delete</button>
                        
                    </div>
                    </div>
                </div>
                <%})%>
            </div>
                    <div class="col-md-8 ">
                        <div class="card mb-3">
                            <div class="card-body-user-profile">
                                <div class="row">



                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary"><%=user.name%></div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary"><%=user.email%></div>
                                </div>
                                <hr />
                                
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mobile</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary"><%=user.phone%></div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h4 class="mb-0">Address</h4>
                                    </div>
                                    
                                </div>
                                <hr />
                                <div class="row">
                                    <% if (user.address && user.address.length > 0) { %>
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">House Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%=user.address[0].houseName%>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Street</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%=user.address[0].street%>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">City</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%=user.address[0].city%>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Pincode</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%=user.address[0].pincode%>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">State</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <%=user.address[0].state%>
                                    </div>
                                </div>
                                <hr />
                                <% } else { %>
                                    <div class="col-12 text-secondary">
                                        No address available.
                                    </div>
                                <% } %>
                                
                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-between">
                                        <a class="btn" id="edit-all" href="/user-edit-profile">Edit</a>
                                        <a class="btn" href="/change-password" id="change-password">Change Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
         

        <script>
            document.addEventListener('DOMContentLoaded', function () {
              var deleteButtons = document.querySelectorAll('.delete-btn');
          
              deleteButtons.forEach(function (button) {
    button.addEventListener('click', function () {
        var addressIndex = button.getAttribute('data-address-index');

        // Show a confirmation dialog
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // User clicked "Yes, delete it!"
                fetch('/delete-address', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ addressIndex: addressIndex }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Show SweetAlert success message
                            Swal.fire({
                                icon: 'success',
                                title: 'Address Deleted',
                                text: 'Your address has been successfully deleted.',
                            }).then(function () {
                                // Remove the deleted address element from the DOM
                                var deletedAddress = document.querySelector('.address-card[data-index="' + addressIndex + '"]');
                                if (deletedAddress) {
                                    deletedAddress.remove();
                                }
                            });

                        } else {
                            // Show SweetAlert error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Failed to delete address. Please try again.',
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
            // else: User clicked "Cancel" or closed the dialog, do nothing
        });
    });
});
            });
          </script>
    
    
<%-include("footer.ejs")%>