<%-include("header.ejs")%>
<body style="margin-top: 120px;">
    <div class="container">

        <div class="row d-flex justify-content-center mt-5">

            <div class="col-md-8">

                <div class="card">

                        <div class="invoice p-5">

                            <center><p style="font-size: 30px;">WALLET BALANCE</p></center>
                            <center><p style="font-size: 20px;">₹<%=userWallet?userWallet.balance:0%></p></center>

                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                                <table class="table table-borderless">
                                    
                                    <thead>
                                        <tr>
                                            <th class="text-center">
        
                                                <div class="inner-circle"></div>
                            </div>
                            </th>
                            <th>Transaction Id</th>
                            <th>Type</th>
                            <th>Amount</th>
                            </tr>
                            </thead>
                        <% if(userWallet){%>

                        
                            <% if (userWallet.transactionHistory.length > 0) { %>
                        
                            <% userWallet.transactionHistory.forEach(data=>{%>
        
        
                                <tbody class="table-body">
                                    <tr class="cell-1">
                                        <td class="text-center">
        
                                            <div class="inner-circle"></div>
                        </div>
                        </td>
                        
                        <td>
                            <%=data._id%>
                        </td>
                        <td>
                           <%=data.transaction%>
                        </td>
                        <td>
                            ₹<%=data.amount%>
                        </td>
                        
                      
                        
                        
        
                        </tr>
                        <%})%>
                        <%}else{%>
                            <p class="text-center bg-danger">No records found.</p>
                            <%}%>
                            <%}else{%>
                                <p class="text-center bg-danger">No records found.</p>
                                <%}%>
                            </tbody>
                            </table>
                                </table>




                                
                            </div>




                               



                               


                           

                        </div>
                     


            
        </div>
                
            </div>
            
        </div>
        
    </div>

<%-include("footer.ejs")%>