<%- include('header.ejs')%>

<style>
  body{
    position: relative;
    background-image: url('/homeimgs/product bg2.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center, top right, center center;
    background-repeat: repeat-y, no-repeat, repeat;
    background-attachment: fixed, scroll, fixed;
  }
  body::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5); 
      }
</style>
                <!--search bar-->
                <div class="Search row-cols-1 row-cols-md-2 row-cols-lg-4 pt-5 mt-5 text-center">
                  <div class="input-group align-items-center">
                      
                  </div>
              </div>

              
      
        <!--search bar end-->

        <nav class="navbar navbar-expand-lg navbar-light " style="color: white; background: #00000000;margin-left: 120px; margin-right: 140px;">
          <div class="container-fluid ">
            
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
              <ul class="navbar-nav ml-auto mb-2 mb-lg-0 " >
                
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <li><a class="dropdown-item" href="/categoryProducts/<%= productCategory %>/sort/-1?search=<%= searchQuery %>">Price: High to Low</a></li>
                    <li><a class="dropdown-item" href="/categoryProducts/<%= productCategory %>/sort/1?search=<%= searchQuery %>">Price: Low to High</a></li> -->
                    <li><a class="dropdown-item" href="/categoryProducts/<%= productCategory %><%= genre ? '/'+genre : '' %>/sort/-1?sort=-1&search=<%= searchQuery %>">Price: High to Low</a></li>
                    <li><a class="dropdown-item" href="/categoryProducts/<%= productCategory %><%= genre ? '/'+genre : '' %>/sort/1?sort=-1&search=<%= searchQuery %>">Price: Low to High</a></li>


                  </ul>
                  </ul>
                </li>
              </ul>

             
              <a class="px-4 nav-link" href="/allProducts">All</a>


              <%if( productCategory ==="GAMES"){%>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 " >
                
                  <li class="nav-item dropdown " id="genreDropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Genre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <% genreList.forEach(Genre=>{%>
                      <li><a class="dropdown-item" href="/categoryProducts/GAMES/<%=Genre.genre%>"><%=Genre.genre%></a></li>
                    <%})%>
                        <!-- <li><a class="dropdown-item" href="/categoryProducts/GAMES/Action">Action</a></li>
                        <li><a class="dropdown-item" href="/categoryProducts/GAMES/Adventure">Adventure</a></li>
                        <li><a class="dropdown-item" href="/categoryProducts/GAMES/Fighting">Fighting</a></li>
                        <li><a class="dropdown-item" href="/categoryProducts/GAMES/Racing">Racing</a></li> -->
                    </ul>
                  </li>
                </ul>
              <%}%>
              
              <% categories.forEach(category=>{%>
                <a class="px-4 nav-link" href="/products/<%=category.categoryName%>"><%=category.categoryName%></a>
              <%})%>
              
              
              <form action="/categoryProducts/<%=productCategory%>/<%= genre %>" method="GET" class="d-flex" style="margin-left: auto;">
                <input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="width: 280px;" />
                <button type="submit" class="btn search-button" data-mdb-ripple-init>Search</button>
            </form>
            
            

              
              
            </div>
          </div>
        </nav>
       
                
                  

        <div class="category-products">

        
        <div class="container mt-5">
          <div class="row g-5">
            <% if (products && products.length > 0) { %>            
              <% products.forEach((item) => { %>
              
                <div class="col-md-3" style="width: 250px; margin-left: 45px;">
                  <div class="card product-card" style="background: #0d0e1b;">
                    <img height="250px" src="<%= item.image[0] %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <div class="product-name"><%= item.productName %></div>
                      <div class="row">
                        <div class="col">
                          <a href="/product-page/<%= item._id %>" class="btn" id="view-btn">View</a>
                        </div>
                        <div class="col">
                          <p style="margin-bottom: 7px; margin-left: -15px; letter-spacing :0.02em;">₹<%= item.price %></p><br>
                          
                          <%if(item.discount&&item.discount!=0){%>
                            <p style="margin-top: -35px;margin-bottom: 3px; font-size: 15px; color: red;"><%= item.discount %>% off</p>
  
                          <%}%>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
              <% }); %>
  
              <!-- <div class="pagination-container">
                <ul class="pagination">
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="<%= currentPage === i ? 'active' : '' %>">
                            <a href="/products/<%= productCategory %>/sort/<%= sortDirection %>?page=<%= i %>&sortField=<%= sortField %>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </div> -->
            <div class="pagination-container" style="position: relative;">
              <ul class="pagination">
                  <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="<%= currentPage === i ? 'active' : '' %>">
                        <a href="/categoryProducts/<%= productCategory %><% if (sortDirection) { %>/sort/<%= sortDirection %><% } %>?page=<%= i %>&sortField=<%= sortField %>&search=<%= searchQuery %>"><%= i %></a>
                      </li>
                  <% } %>
              </ul>
          </div>
          
          
              <%}else{%>
                <div class="container mt-5 pb-5">
                  <p style="padding-bottom: 60px; position: relative;color: yellow; text-align: center;">No Products Found</p>
                </div>              
                <%}%>
          </div>
      </div>
            </section>
        
    </main>
  </div>
</div>
  
    
    
    <!-- End Main -->

    <%- include('footer.ejs')%>

 
<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the genre dropdown element
        var genreDropdown = document.getElementById("genreDropdown");

        // Get the current URL
        var currentUrl = window.location.pathname;

        // Check if the URL contains "/products/GAMES"
        if (currentUrl.includes("/products/GAMES")) {
            // Show the genre dropdown
            genreDropdown.style.display = 'block';
        } else {
            // Hide the genre dropdown
            genreDropdown.style.display = 'none';
        }
    });
</script> -->

