<%-include("header.ejs")%>  

<style>
    .swal-wide{
    width:250px !important;
    height: 290px;
    font-size: 10px;
    
}
#addToWishlistButton{
    background-color: #0d0e1b;
    border: 2px solid #fb7b24;
}
#addToWishlistButton:hover{
    background-color: #fb7b24;
    border: 2px solid #fb7b24;
}
.cartButton{
    background-color: #0d0e1b;
    border: 2px solid #fb7b24;
}
.cartButton:hover{
    background-color: #fb7b24;
    border: 2px solid #fb7b24;
}
</style>

    <!-- content -->
    
    <section class="py-5 mt-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6" style="width: 480px;">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        
                        <a class="rounded-4" onclick="openLightbox('<%= product.image[0] %>')">
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                                src="<%= product.image[0] %>" />
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <% product.image.forEach((image, index) => { %>
                            <% if(image!=null&&image!=""){%>
                            
                            <a class="border mx-1 rounded-2" onclick="openLightbox('<%= image %>')">
                                <img width="80" height="90" class="rounded-2" src="<%= image %>" />
                            </a>
                            <%}%>
                        <% }) %>
                    </div>
                </aside>

                <!-- Lightbox Container -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
    <img id="lightbox-img" src="" alt="Lightbox Image">
</div>


                <main class="col-lg-6" style="margin-left: 100px;">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            <%=product.productName%>
                        </h4>
                        <div class="d-flex flex-row my-2">
                            <!-- <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span> -->
                            <% if( product.totalQuantity <= 0){%>
                                <span class="text-danger ">Out Of Stock</span>
                            <%}else{%>
                                <span class="text-success ">In stock</span>
                            <%}%>
                            
                        </div>
                        <div class="row">

                            <dt class="col-3">Size</dt>
                            <dd class="col-9"><%=product.size%> GB</dd>

                            <dt class="col-3">Publisher</dt>
                            <dd class="col-9"><%=product.publisher%></dd>

                            <dt class="col-3">Released Date</dt>
                            <dd class="col-9"><%=product.releasedDate.toLocaleDateString()%></dd>
                        </div>

                        

                        <p>
                            <%=product.description%>
                        </p>

                        <div class="mb-3">
                           <span class="h4">Price: </span>
                            <span  style="font-size: 30px ;">₹<%=product.price%></span>
                            <%if(product.discount!=0){%>
                                <span class="h6" style="margin-left: 10px; text-decoration: line-through;">₹<%=product.originalPrice%></span>
                            <span class="h6" style="color: red;"><%=product.discount%>% off</span>
                            <%}%>
                            
                        </div>
                        
                        <hr />
                        
                            
                            <button class="btn btn-primary shadow-0"  id="addToWishlistButton" data-product-id="<%= product._id %>" <%= product.totalQuantity <= 0 ? 'disabled' : '' %>>
                                <i class=" fa fa-heart <%=isItemInWishlist ? 'text-danger' : '' %>" id="wishlistIcon"></i>
                            </button>
                        
                        
                        
                        <% if(isItemInCart){%>
                            <a href="/cart" type="submit" class="btn btn-primary shadow-0 cartButton" <%= product.totalQuantity <= 0 ? 'disabled' : '' %>>
                                <i class="me-1 fa fa-shopping-basket"></i> View Cart
                            </a>
                            
                            <% } else { %>
                                <form action="/product-page/add-to-cart/<%=product._id%>" class="btn " method="post" id="addToCartForm">
                                    <button type="submit" class="btn btn-primary shadow-0 cartButton" <%= product.totalQuantity <= 0 ? 'disabled' : '' %>><i class="me-1 fa fa-shopping-basket"></i>Add to cart</button>
                                </form>       
                            <% } %>
                        
                        
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- content -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>


   <script>
     function openLightbox(imageSrc) {
        document.getElementById('lightbox-img').src = imageSrc;
        document.getElementById('lightbox').style.display = 'flex';
    }

    function closeLightbox() {
        document.getElementById('lightbox').style.display = 'none';
    }

    
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('addToCartForm');

        if (form) {
            form.addEventListener('submit', function (e) {
                e.preventDefault();

                Swal.fire({
                          icon: 'success',
                          title: 'Item Added To Cart',
                          text: 'Your item has been successfully added to cart.',
                          customClass: 'swal-wide',

                        }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            });
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
    const addToWishlistButton = document.getElementById('addToWishlistButton');
    const wishlistIcon = document.getElementById('wishlistIcon');

    addToWishlistButton.addEventListener('click', async function () {
        const productId = addToWishlistButton.getAttribute('data-product-id');

        try {
            const response = await fetch(`/product-page/add-to-wishlist/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                
                if (data.message === 'Product added to wishlist successfully.') {
                    wishlistIcon.classList.add('text-danger'); // Change heart color to red
                } else if (data.message === 'Product removed from wishlist successfully.') {
                    wishlistIcon.classList.remove('text-danger'); // Remove heart color
                } else {
                    alert('An error occurred while updating the wishlist.');
                }
            } else {
                console.error('Error updating wishlist');
            }
        } catch (error) {
            console.error('Internal Server Error', error);
        }
    });
});





   </script>
    
    <%-include("footer.ejs")%>