<%- include('header.ejs') %>

<style>
  .moveItemToCartButton{
    background-color: #0d0e1b;
    border: 2px solid #fb7b24;
    color: white;
}
.moveItemToCartButton:hover{
    background-color: #fb7b24;
    border: 2px solid #fb7b24;
    color: white;
}
</style>
<!-- cart + summary -->
<section class="bg-light" style="margin-top: 130px;">
  <div class="container">
    <div class="row">
      <!-- cart -->
      <center>
        <div class="text-danger" id="message"></div>
      </center>
      <div class="col-lg-12">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your wishlist</h4>
            <% if (items.length <= 0) { %>
                <center>No items in your wishlist</center>
              <% } else { %>
                <% items.forEach(item => { %>
              <div class="row gy-3 mb-4 product-item" data-product-id="<%= item._id %>">
                <div class="col-lg-6">
                  <div class="me-lg-4">
                    <div class="d-flex">
                        <a href="/product-page/<%=item._id%>"><img src="<%= item.image[0] %>" class="border rounded me-5" style="width: 96px; height: 116px;" /></a>
                      <div class="product-text ml-5">
                        <a href="/product-page/<%=item._id%>" class="nav-link"><%=item.productName%></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                  <div class="">
                    <% if (item.totalQuantity > 0) { %>
                      <text class="h6 total-price">₹<%= item.price%></text> <br />
                    <% } else { %>
                      <span class="text-danger">Out of Stock</span>
                    <% } %>
                  </div>
                </div>
                <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                  <div class="float-md-end">
                    <input type="hidden" value="<%=item._id%>" name="productId" class="productId">
                    <button type="button" class="btn btn-light border text-danger icon-hover-danger removeItemButton">
                      Remove
                    </button>
                    <% if (!item.isInCart) { %>
                      <button type="button" class="btn moveItemToCartButton">
                        Move to cart
                      </button>
                    <% } %>
                  </div>
                </div>
              </div>
            <% }) %>
              <%}%>
          </div>
        </div>
      </div>
      <!-- cart -->
    </div>
  </div>
</section>
<!-- cart + summary -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const removeButtons = document.querySelectorAll('.removeItemButton');
    const moveButtons = document.querySelectorAll('.moveItemToCartButton');


    removeButtons.forEach(button => {
      button.addEventListener('click', async () => {
        const productId = button.parentElement.querySelector('.productId').value;
        const removedItem = document.querySelector(`[data-product-id="${productId}"]`);

        const response = await fetch(`/wishlist-item-remove/${productId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        });

        if (response.ok) {
          const result = await response.json();

          if (result.success) {
            console.log('Item removed successfully');
            removedItem.style.display = 'none';
          } else {
            console.error('Error remov  ing item from the wishlist', result.message);
            document.getElementById('message').innerText = 'Error removing product from wishlist';
          }
        }
      });
    });

    moveButtons.forEach(button => {
      button.addEventListener('click', async () => {
        const productId = button.parentElement.querySelector('.productId').value;
        const removedItem = document.querySelector(`[data-product-id="${productId}"]`);

        const response = await fetch(`/wishlist-move-to-cart/${productId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        });

        if (response.ok) {
          const result = await response.json();

          if (result.success) {
            console.log('Item moved to cart successfully');
            removedItem.style.display = 'none';
          } else {
            console.error('Error moving item to cart', result.message);
            document.getElementById('message').innerText = 'Error moving product to cart';
          }
        }
      });
    });
  });
</script>

<%- include('footer.ejs') %>
